aws_access_key = "<YOUR_ACCESS_KEY_HERE>"
aws_secret_key = "<YOUR_SECRET_KEY_HERE>"
aws_id = "<YOUR_AWS_ID_HERE>"

admin_cidr_ingress = "0.0.0.0/0"
acme_email = "<YOUR EMAIL>"
admin_secret_id = "<ADMIN_SECRET_ID>"

secret_key = "<Fernet Secret key>"
recaptcha_secret_key = "<reCAPTCHA v3 secret key>"
db_username = "<DB USERNAME>"
db_password = "<DB PASSWORD>"
ssh_public_key = "<SSH PUBLICKEY>"

// Use this in production!
// acme_server_url = "https://acme-v02.api.letsencrypt.org/directory"
